body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-shadow: 5px 2px 5px blue;
    letter-spacing: 10px;
}

a.judul{
    text-decoration: none;
}

h1:active{
    color:aqua;
}
h1:hover{
    background-color: #e21111;
}

.colorname{
    color: blue;
    background-color: aqua;
}

.colorname > h4{
    background-color: slategray;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.hexcolor{
    color: #e21111;
}

.rgb{
    background-color: rgb(0, 255, 0);
    color:slategrey;
}

.next{
    background-color: rgba(0, 255, 0, 0.5);
    color:slategrey;
    text-align: center;
}

.coba{
    overflow: hidden;
    height: 100px;
    width: 50%;
    border: 2px solid red;
}

.coba2{
    margin-top: 5px;
    border-color: #e21111;
    border-style: solid;
    border-width: 10px 20px 30px 40px;

}